body {
  background-color: #dff5e1;
}

.loopthevideo {
  padding-top: 30px;
  padding-left: 90%;
}

.video-react-video {
  height: 100%;
  width: 100%;
}

.hide {
  display: none;
  visibility: hidden;
}

.rangeSlider {
  padding-top: 80px;
  padding-bottom: 50px;
}

.video-react-big-play-button .video-react-big-play-button-left {
  visibility: hidden;
  display: none;
}
.video-react-control-text {
  visibility: hidden;
  display: none;
}
.video-react-control-bar {
  visibility: hidden;
  display: none;
}
.video-react-controls-enabled {
  padding-top: 0 !important;
}
.videoLooper {
  padding-top: 1%;
}
.loopForm {
  padding-top: 4%;
  padding-bottom: 2%;
}
.loopHeading {
  padding-top: 13%;
  text-align: center;
  font-weight: bolder;
  font-size: 2.2rem;
}
.player {
  max-width: 100%;
  position: relative;
  font-size: 0;
}

.work123 {
  display: block !important;
}

.player:fullscreen {
  max-width: none;
  width: 100%;
}

.player:-webkit-full-screen {
  max-width: none;
  width: 100%;
}

.player__video {
  width: 100%;
}

.player__button {
  background: none;
  border: 0;
  line-height: 1;
  color: white;
  text-align: center;
  outline: 0;
  padding: 0;
  cursor: pointer;
  max-width: 50px;
}
.player__slider {
  width: 10px;
  height: 30px;
}

.player__controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%) translateY(-5px);
  transition: all 0.3s;
  flex-wrap: wrap;
}

.player:hover .player__controls {
  transform: translateY(0);
}

.player:hover .progress {
  height: 15px;
}

.player__controls > * {
  flex: 1;
}
.progress {
  height: 4px !important;
}
.progress,
.dots {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 12px;
  background: #bdc0be;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50px;
}

.dots {
  position: absolute;
  top: 8px;
  left: 0;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #26aeef;
}
.count-no {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  padding-top: 4px;
}
.left-btn-wrapper {
  position: relative;
  top: -38px;
  left: 21px;
  float: left;
}
.right-btn-wrapper {
  position: relative;
  top: -38px;
  right: 3px;
  float: right;
}
.buttons-wrapper {
  position: relative;
}
.zoom-in-btn-wrapper button {
  color: #000;
}
.video-react-big-play-button {
  display: none;
}
.buttons-wrapper button {
  padding-right: 20px;
  background: none;
  border: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.progress__filled {
  width: 50%;
  background: #999999;
  flex: 0;
  height: 4px;
  flex-basis: 50%;
  position: relative;
  border-radius: 50px;
}

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
  margin: 0 5px;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}
input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffc600;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #bada55;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffc600;
  cursor: pointer;
}

.playbacktimewindow {
  float: left;
  padding-left: 30px;
  padding-top: 10px;
  position: absolute;
  bottom: -500px;
  left: 0;
  padding-bottom: 300px;
}

.progressLine {
  // transition: 0.5s linear;
  // -webkit-transition: all 2s ease;
  // -moz-transition: all 2s ease;
  // -o-transition: all 2s ease;
  // transition: all 2s ease;
  // animation-direction: alternate;
  // animation-duration: 2s;
  // animation-fill-mode: forwards;
  // animation-delay: 1s;
}
