.selectedWinOne {
  border-top: 3px solid red;
  border-bottom: 3px solid red;
  /* border-left: 1px solid red;
  border-right: 1px solid red; */
}

.firstPlayer {
  opacity: 0.5;
}

.selectedWinTwo {
  border-top: 3px solid blue;
  border-bottom: 3px solid blue;
}

.normal {
  opacity: 0.5;
}

.playbackcontrols {
  padding-top: 30px;
  float: right;
  padding-bottom: 227px;
  /* position: absolute;
  bottom: -427px;
  right: 0; */
}

  


.playbackSpeed {
  float: right;
  width: 300px;
  padding-right: 30px;
  padding-left: 319px;
}
.videoLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playback-window-controls, .playPauseSkip, .playbackSpeed{
  display: inline-block;
}

.playPauseSkip{
  padding-left: 200px;
}